.book-card {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 160px;
}

.book-card {
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    background: rgba(254, 254, 254, 1);
    transition: all 0.3s ease-in-out;
}

.book-card:hover {
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.15);
    background: rgba(255, 255, 255, 1);
}

.book-cover-container {
    width: 106.67px;
    height: 160px;
    margin-right: 11.33px;
    & img {
        width: 100%;
        height: 100%;
    }
}

.details {
    margin-bottom: 21px;
}

.ratings-outer {
    display: flex;
}

.ratings-inner {
    margin-right: 10.12px;
}

.shape-numbers-outer {
    display: flex;
    margin-left: 10px;
}

.likes {
    height: 9px;
    width: auto;
}

.shape-container {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-divider {
    width: 1px;
    height: 25px;
    background-color: rgba(221, 221, 221, 1);
}

.books-status-green {
    color: rgba(101, 193, 0, 1);
    margin-bottom: 12px;
}

.books-status-red {
    color: rgba(208, 1, 27, 1);
    margin-bottom: 12px;
}

.book-title {
    margin-bottom: 3px;
}

.authors,
.published {
    white-space: nowrap;
    margin-bottom: 3px;
    line-height: 15px;
}

.category {
    display: inline-block;
    margin-bottom: 9px;
}

.category:not(:last-child):after {
    content: ", ";
    white-space: pre;
}

.published::before {
    content: " - ";
    white-space: pre;
}