.featured-books {
  margin-bottom: 40px;
}

.main-carousel {
  height: 405px;
}

.carousel-cell {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15);
  width: 220px;
  height: 330px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  & img {
    width: 100%;
    height: 100%;
  }
}

.carousel-title {
  margin-bottom: 6px;
}

.carousel-category {
  display: inline;
}

.cell-details-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.607988) 0%,
    #000000 79.7%
  );
  position: absolute;
  padding: 0 10px 30px 30px;
  top: 0;
  left: 0;
  transform: translateY(330px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  transition: all 0.3s;
  color: #ffffff;
}

.cell-details-overlay > span {
  padding-bottom: 30px;
}

.carousel-cell:hover > .cell-details-overlay {
  transform: translateY(0);
}

.carousel-rating-outer {
  display: flex;
}

.carousel-rating {
  display: flex;
  align-items: flex-start;
}

@keyframes showDetails {
}

.display-3 {
  margin-top: 20px;
  & .carousel-rating-outer {
    display: flex;
  }
}

.vertical-line-dark {
  width: 1px;
  height: 35px;
  background: #333333;
}

.stars {
  display: flex;
  margin-right: 10px;

  & img {
    height: 15px;
    width: auto;
    margin-top: 5px;
  }
}

//FLICKITY STYLING
.flickity-viewport {
  background: rgba(0, 0, 0, 0);
}

.flickity-page-dots .dot {
  width: 8px !important;
  height: 8px !important;
  opacity: 1;
  background: transparent;
  background-color: #dddddd;
  margin: 0 10px !important;
  bottom: -10px !important;
}

.carousel-cell {
  margin-right: 20px;
}

.carousel-cell-show-details {
  transform: translateY(0);
}

.flickity-prev-next-button .flickity-button-icon {
  width: 18px !important;
  height: 10px !important;
  top: 166px !important;
}

.flickity-page-dots .dot.is-selected {
  background: #64c000;
}

.flickity-prev-next-button.previous {
  left: 0px !important;
  border-right: 1px solid #fff !important;
}

.flickity-prev-next-button.next {
  right: 0px !important;
  border-left: 1px solid #fff !important;
}

.flickity-prev-next-button {
  width: 40px !important;
  border-radius: 0px !important;
  height: 100% !important;
  background: linear-gradient(
    180deg,
    rgba(248, 248, 250, 0.4) 0%,
    #f8f8fa 51.36%,
    rgba(248, 248, 250, 0.4) 100%
  ) !important;
  mix-blend-mode: normal !important;
}

.carousel-cell.is-selected {
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.15) !important;
}

.carousel-more-container {
  display: none;
}

#close-overlay{
  display: none;
}

@media only screen and (max-width: 600px) {

  #close-overlay{
    display: block;
    position: absolute;
    top: 15px;
    right: 14px;
    height: 12px;
    width: auto;
  }

  .carousel-cell {
    width: 140px;
    height: 210px;
    margin-right: 5px;
  }

  .cell-details-overlay {
    padding: 0 10px 15px 15px;
  }

  .carousel-more-container {
    display: flex;
    position: absolute;
    width: 27px;
    height: 27px;
    background: #fff;
    border-radius: 100%;
    padding: 6px;
    top: 15px;
    right: 15px;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .carousel-rating {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .vertical-line-dark {
    display: none;
  }

  .carousel-title-sm {
    display: none;
  }

  .shape-numbers-outer {
    margin-left: 0;
  }

  .authors {
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .books-status-green,
  .books-status-red {
    margin-bottom: 7px;
    font-size: 14px;
  }

  .stars {
    margin-bottom: 4px;
    & img {
      height: 10px;
      width: auto;
    }
  }

  .main-carousel {
    height: 271px;
    width: 100%;
  }

  .flickity-prev-next-button .flickity-button-icon {
    top: 100px !important;
  }

  .flickity-prev-next-button {
    width: 30px !important;
  }

  .flickity-page-dots {
    bottom: 18px !important;
  }
}
