@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

a {
  text-decoration: none;
}

a,
span {
  display: block;
}

a,
button,
.pointer {
  cursor: pointer;
}

.regular-18 {
  font-size: 18px;
  font-weight: 400;
}

.regular-14 {
  font-size: 14px;
  font-weight: 400;
}

.regular-12 {
  font-size: 12px;
  font-weight: 400;
}

.bold-12 {
  font-size: 12px;
  font-weight: 700;
}

.bold-14 {
  font-size: 14px;
  font-weight: 700;
}

.bold-18 {
  font-size: 18px;
  font-weight: 700;
}

.df {
  display: flex;
}

.di {
  display: inline;
}

.df-ac {
  display: flex;
  align-items: center;
}

.df-jsb-ac {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.df-jc-ac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.df-jsb-ac-y {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
