.header {
  width: 100%;
  height: 100px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-container,
.search-container {
  display: inherit;
  align-items: inherit;
}

.brand-container {
  display: flex;
  align-items: center;
}

.brand-logo {
  margin-right: 15px;
}

.search-container {
  flex: 1;
  justify-content: center;
  position: relative;
}

.avatar {
  height: 50px;
  width: 50px;
  overflow: hidden;
  border-radius: 100%;
  margin-left: 20px;
  & img {
    width: 100%;
    height: 100%;
  }
}

#search {
  width: 500px;
  height: 40px;
  border-radius: 0;
  padding-left: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.09px;
  border: 1px solid rgba(221, 221, 221, 1);
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 0;
  border: 1px solid rgba(221, 221, 221, 1);
  background: #f9f9fb;
}

.search-btn-mobile {
  display: none;
}

.notification-link {
  position: relative;
}

.notification-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 20px;
  width: 20px;
  color: white;
  background: #65c100;
  border-radius: 100%;
  padding: 4px;
}

//Search Bar Pane
.search-inner {
  position: relative;
}
.search-pane {
  position: absolute;
  max-height: 200px;
  transform: scaleY(0);
  width: 100%;
  background: #fff;
  top: 40px;
  left: 0px;
  border: 1px solid #eeeeee;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
  transition: all 0.5s;
  padding: 20px;

  & div {
    padding: 0 0 12px 10px;
    cursor: pointer;
  }
}

.expand-pane {
  transform: scaleY(1);
}

.hamburger {
  display: none;
}

#header-back-arrow {
  display: none;
}

@media only screen and (max-width: 600px) {
  .search-inner {
    width: 100%;
  }

  .search-pane {
    & div {
      width: 90%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .header {
    height: 70px;
    width: 100vw;
    padding: 0 30px 0 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .search-btn-mobile {
    display: block;
    background: #ffffff;
    border: none;
  }

  .left-header-mobile {
    display: flex;
    align-items: center;
    transition: all 0.5s;
  }

  .left-header-mobile-display-none {
    transform: translateX(-500px);
    display: none;
  }

  .hamburger {
    display: block;
  }
  .brand-name-container {
    display: none;
  }

  .brand-logo {
    height: 40px;
    width: 40px;
    margin-right: 0;
  }

  .search-container {
    flex: auto;
  }

  #search {
    // display: none;
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.3s;
  }

  // input::placeholder {
  //   text-indent: -9999999999999999em;
  // }

  // input::placeholder::after {
  //   content: ‘replacement string’;
  //   display: block;
  //   text-indent: 0;
  // }

  // :-ms-input-placeholder {
  //   color: red;
  // }

  // ::-ms-input-placeholder {
  //   /* Microsoft Edge */
  //   color: red;
  // }

  #showSearch {
    width: 100%;
    height: 40px;
    opacity: 1;
    padding-left: 21px;
  }

  .avatar {
    height: 40px;
    width: 40px;
  }

  .nav-icon img {
    height: 40px;
    width: 40px;
  }

  .notification-badge {
    top: 0;
    right: 0;
  }
}
