.main-content-area {
  min-height: calc(100vh - 100px);
  width: calc(100vw - 350px);
  margin-top: 100px;
  position: absolute;
  right: 0;
  padding-top: 27px;
  background: #fefefe;
}

#recently-added {
  margin-bottom: 40px;
}

#all-books {
  padding-bottom: 204px;
}

.main-section {
  padding: 0 40px;
  .label {
    color: rgba(0, 0, 0, 1);
    letter-spacing: 3px;
    margin-bottom: 14px;
  }
  .divider {
    margin-bottom: 25px;
  }
}

.stacked-books {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
  #featured-books-wrapper {
    padding: 0;
  }

  .stacked-books {
    width: 100%;
  }
  .mobile-none {
    display: none;
  }
  .main-content-area {
    width: 100vw;
    margin-top: 70px;
    left: 0;
  }

  .main-section {
    padding: 0 30px;
  }

  .stacked-books {
    grid-template-columns: 1fr;
  }
}
