.sidebar {
  background: #ffffff;
  height: calc(100vh - 100px);
  width: 350px;
  margin-top: 100px;
  box-shadow: -10px 0px 40px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 9;
}

.divider {
  margin-bottom: 14px;
  border: 1px solid rgba(238, 238, 238, 1);
}

.navs {
  padding: 22px 29px 9px 40px;
}

.sidenav-header {
  margin-bottom: 28px;
}

.sidenav-item {
  margin-bottom: 13px;
  .title {
    color: rgba(0, 0, 0, 1);
  }
  .badge {
    color: rgba(170, 170, 170, 1);
    font-size: 12px;
    width: 24px;
    height: 20px;
    text-align: right;
  }
  .active-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #65c100;
    color: white;
  }
  .active-link {
    color: #65c100;
  }
}

.brand-container-mobile {
  display: none;
}

.back-arrow-brand {
  display: none;
}

@media only screen and (max-width: 600px) {
  .back-arrow-brand {
    display: block;
  }
  .brand-container-mobile {
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 29px;

    & img {
      margin-right: 15px;
      height: 50px;
      width: 50px;
    }
  }

  .sidebar {
    width: 300px;
    height: 100vh;
    margin-top: 0;
    z-index: 9999999;
    transform: translateX(-330px);
    transition: all 0.5s;
    overflow: scroll;
  }

  .open-sidebar{
    transform: translateX(0px);
  }
}
